bim-select {
  display: block;
}
bim-select.ng-empty .form-control:not(:focus) {
  color: silver;
  font-style: italic;
}
bim-select .bim-select-dropdown {
  max-height: 300px;
  overflow: auto;
}
bim-select .bim-select-dropdown .active {
  background: #337ab7;
  color: white;
}
bim-select .bim-select-item {
  display: block;
  padding: 3px 20px;
  line-height: 1.42857143;
  cursor: pointer;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
