bim-select {
    display: block;

    .bim-select-dropdown {
        max-height: 300px;
        overflow: auto;

        .active {
            // color taken from @dropdown-link-active-*
            // See: https://git.io/vS8pF
            background: #337ab7;
            color: white;
        }
    }
    .bim-select-item {
        // Padding etc is tken from:
        // https://git.io/vS8hv
        display: block;
        padding: 3px 20px;
        line-height: 1.42857143;
        cursor: pointer;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}
